extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  .productList_OuterContainer
    .productList_InnerContainer
      .productList_dayOfListing Today
      ul.productList_products
        each product in productsToday
          a(href=`/products/${product.id}`)
            li
              img(src=`${product.defaultImg}`, alt="product image")
              div
                .productList_name= product.productName
                .productList_description= product.description
  .productList_OuterContainer
    .productList_InnerContainer
      .productList_dayOfListing Yesterday
      ul.productList_products
        each product in productsYesterday
          a(href=`/products/${product.id}`)
            li
              img(src=`${product.defaultImg}`, alt="product image")
              div
                .productList_name= product.productName
                .productList_description= product.description
  .productList_OuterContainer
    .productList_InnerContainer
      .productList_dayOfListing Last Week
      ul.productList_products
        each product in productsLastWeek
          a(href=`/products/${product.id}`)
            li
              img(src=`${product.defaultImg}`, alt="product image")
              div
                .productList_name= product.productName
                .productList_description= product.description
  .productList_OuterContainer
    .productList_InnerContainer
      .productList_dayOfListing Last Month
      ul.productList_products
        each product in productsLastMonth
          a(href=`/products/${product.id}`)
            li
              img(src=`${product.defaultImg}`, alt="product image")
              div
                .productList_name= product.productName
                .productList_description= product.description
