extends layout


block content
    if errors   
        div(class="authCtn")
            h1(class="head")=title
            each error in errors
                ul
                    li=error
            form(id="signup" action="/users/login",method="POST")      
                div(class="space")                    
                    input(type="email",name="email",required, value=user.email, placeholder="Email", class="authInp")
                div(class="space")                    
                    input(type="password",name='password',required, placeholder="Password", class="authInp")
                    input(type="hidden",name="_csrf",value=csrfToken)
                div(class="space")
                    button(type="submit" class="authBtn") Log in 
    else
        div(class="authCtn")
            h1(class="head")=title
            form(id="signup" action="/users/login",method="post")      
                div(class="space")                    
                    input(type="email",name="email",required, placeholder="Email", class="authInp")
                div(class="space")                    
                    input(type="password",name='password',required, placeholder="Password", class="authInp")
                    input(type="hidden",name="_csrf",value=csrfToken)
                div(class="space")
                    button(type="submit" class="authBtn") Log in   
