extends layout    
append head
    link(rel='stylesheet' href='/stylesheets/products.css')
    script(src="/javascripts/comments.js" type="module" defer)

block content
    div(id= "container")
        div(class="anthCtner")
            div(class="center")
                h1=product.productName
                img(src=product.defaultImg class="pdctImg")
                p(id="descriptionP")=product.description
            div(class="secondDiv")
                div(class="internalDiv")
                    h4 Product Makers
                    each user in userArr
                        a(href=`/users/${user.id}`)
                            p #{user.firstName} #{user.lastName}
                div(class="buttonDiv")
                    button Likes
        
    div(class="spacebtwn")
        p(class="pmargin") discussion:
        
        
    div(class="bottomHalf")
        if locals.authenticated
            div(class="makeCommDiv")
                div(class="submit")
                    div(class="textArea")                
                        textarea(name="comment" placeholder="What do you think about this product?" required id="text" data-productId=`${product.id}` data-userId=`${locals.user.id}` data-userfirst=locals.user.firstName data-userlast=locals.user.lastName)
                    div(class="textSbmt")
                        button(type="submit" id="sbmtBtn") send
        ul(id="commentList")
            each comment in commentArr
                li(class ="comment")
                    p(class="pmargincom")=comment.comment
                    a(class="links" href=`/users/${comment.userId}`): p(class="pmargin") #{comment.User.firstName} #{comment.User.lastName}


            