extends layout    


block content
    div(id= "container")
        div(class="center")
            h1=product.productName
            each photo in photosArr
                img(src=photo.productImg class="pdctImg")
            p=product.description
        
    div(class="spacebtwn")
        p(class="pmargin") description
        each user in userArr
            p(class="pmargin") #{user.firstName} #{user.lastName}
        
    div(class="bottomHalf")
        ul
            each comment in commentArr
                li(class ="comment")
                    p(class="pmargincom")=comment.comment
                    a(class="links" href=`/user/${comment.userId}`): p(class="pmargin") #{comment.User.firstName} #{comment.User.lastName}


            