extends layout
append head
    link(rel='stylesheet' href='/stylesheets/index.css')
    script(src="/javascripts/profilecomments.js" type="module" defer)
block content
  div(class="main")
    
    div(class="container")   
          img(class="profile-img-1",src=`${pictures}`, alt="Profile Pictures")
          div(class="username-profile")           
            p(class="fullname")=firstName 
          div   
            p(class="fullname")=lastName  
          div(class="bio-con")  
            p(class="bio-profile")=biography
    div(class="con-2")
                  h3(class="activity")  
                    button(type='submit',class="madeBtn")  Made  #{madeBtn}
                  h3(class="commentIdBtn")                  
                    button(type='submit',class="commentBtn", data-userid=userId )  Comments & replies  #{commentBtn}                
    div(class="made-product")  Product Made
        span(class='spanId') (#{productslength})           
    div(class="productBox") 
          .productList_OuterContainer
            .productList_InnerContainer
              ul.productList_products       
                  each product in products 
                      a(href=`/products/${product.id}`)    
                          li
                            img(src=`${product.defaultImg}`, alt="product image")
                            div
                              .productList_name= product.productName
                              .productList_description= product.description 