mixin productList(productsArr, day, showMore = true)
  .productList_OuterContainer
    .productList_InnerContainer
      .productList_dayOfListing= day
      ul.productList_products
        each product in productsArr
          a(href=`/products/${product.id}`)
            li
              img(src=`${product.defaultImg}`, alt="product image")
              div
                .productList_name= product.productName
                .productList_description= product.description
        if showMore
          span.productList_moreButton ▼ Show 25 more ▼
